@using Model;
@using BLL;
@using Web;

@model List<tblmatchusers>

@{
    ViewBag.Title = "自动分配线路";
    Layout = "~/Views/Shared/_Layout.View.cshtml";
}

<style>
    #assignsInfo p{
        color:red;
    }

    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width: 334px;
    }
</style>
@section MainContent{
<link href="@Url.Content("/assets/rangeslider/rangeslider.css")" rel="stylesheet" />
<script type="text/javascript" src="@Url.Content("~/assets/rangeslider/jquery.min.js")"></script>
@*<script type="text/javascript" src="@Url.Content("~/assets/rangeslider/rangeslider.min.js")"></script>*@
    <div class="portlet-body form-horizontal form-bordered form-row-stripped">
        <div class="row-fluid">
            <div class="control-group">
                <label class="control-label"><span class="required">*</span>选择赛事：</label>
                <div class="controls">
                    <select id="optMatch" name="optMatch" class="m-wrap large">
                        <option value="">请选择赛事</option>
                        @Html.Raw(ViewBag.Match)
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"><span class="required">*</span>选择类型：</label>
                <div class="controls">
                    <select id="optLine" name="optLine" class="m-wrap large">
                        @Html.Raw(ViewBag.Line)
                    </select>
                </div>
            </div>
             <div class="control-group">
                    <label class="control-label"><span class="required">*</span>选择线路：</label>
                    <div class="controls">
                        <select id="optLines" name="optLines" class="m-wrap large">
                            @Html.Raw(ViewBag.Lines)
                        </select>
                    </div>
                </div>          

        <div class="control-group">
            <label class="control-label"><span class="required">*</span>目标线路：</label>
            <div class="controls">
                <select id="optTargetLines" name="optTargetLines" class="m-wrap large">
                    @Html.Raw(ViewBag.TargetLines)
                </select>
             </div>
        </div>
        <div class="control-group" id="div_fp">
            <label class="control-label"><span class="required">*</span>分配数量：</label>
            <div class="controls">
                <div style="width: 330px; height: 30px; float: left" id="range_div">
                    
                </div>
                <div style="width:50px;height: 30px; float: left;margin-left:30px">
                    <label id="fpsl"></label>
                </div>

            </div>
        </div>
    <div style="text-align:center;margin-top:5px;margin-bottom:10px;">
        <button type="button" id="exportExcel" class="btn" onclick="preview();"> 开始分配 </button>
        <img id="loadimg" src="@Url.Content("~/assets/img/loadingBar.gif")" width="80px" height="80px" style="display:none">
    </div>
    <div id="msg" style="text-align:center;margin-top:5px;margin-bottom:5px;font-size:30px;font-family:'Microsoft YaHei';font-weight:800;color:green;"></div>
    <div class="row-fluid">
        <div class="span4">
        </div>
        <div class="span4">
            <div id="assignsInfo"></div>
        </div>
        <div class="span4">
        </div>
    </div>
    <input type="hidden" id="scourceCount"  value="0"/>
    <input type="hidden" id="targetCount" value="0" />

}


<script type="text/javascript">


    $(function () {
         $("#exportExcel").hide();
         $("#div_fp").hide();
    });

    $("#optMatch").change(function () {

        var matchid = $("#optMatch").find("option:selected").val();
        if (matchid != "") {
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: encodeURI("GetLineByMatch?matchid=" + matchid),
                data: {},
                dataType: "json",
                success: function (data) {
                    if (data != "") {
                        $("#optLine").empty();
                        $("#optLine").append("<option value=''>请选择类型</option>");
                        $.each(data, function (index, content) {
                            $("#optLine").append("<option value='" + content.Value + "'>" + content.Text + "</option>");
                        });

                        $("#optLine").trigger("chosen:updated");
                    }
                    else {
                        $("#optLine").empty();
                        $("#optLine").trigger("chosen:updated");
                    }
                }

            });
        } else {
            $("#optLine").empty();
        }

        $("#assignsInfo").empty();
        $("#divassigns").hide();
    })



    $("#optLine").change(function () {

        var lineid = $("#optLine").find("option:selected").val();
        if (lineid != "") {
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: encodeURI("GetLinesByLine?lineid=" + lineid),
                data: {},
                dataType: "json",
                success: function (data) {
                    if (data != "") {
                        $("#optLines").empty();
                        $("#optLines").append("<option value=''>请选择线路</option>");
                        $.each(data, function (index, content) {
                            $("#optLines").append("<option value='" + content.Value + "'>" + content.Text + "</option>");
                        });

                        $("#optLines").trigger("chosen:updated");
                    }
                    else {
                        $("#optLines").empty();
                        $("#optLines").trigger("chosen:updated");
                    }
                }

            });
        } else {
            $("#optLines").empty();
        }
    })

    $("#optLines").change(function () {
        $("#msg").html("");
        var linesid = $("#optLines").find("option:selected").val();
        if (linesid != "") {
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: encodeURI("GetLinesTeamCount?linesid=" + linesid),
                data: {},
                dataType: "json",
                success: function (data) {
                    if (data > 0) {
                        $("#scourceCount").val(data);
                        setRange()
                    }else
                    {
                        $("#msg").html("该线路没有队伍可以分配!");
                        $("#scourceCount").val("0");
                        $("#exportExcel").hide();
                    }
                   
                }

            });
        }
    })


    $("#optTargetLines").change(function () {
        $("#msg").html("");
        var t_linesid = $("#optTargetLines").find("option:selected").val();
        if (t_linesid != "") {
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: encodeURI("GetLimitLinesCount?linesid=" + t_linesid),
                data: {},
                dataType: "json",
                success: function (data) {
                    if (data > 0) {
                        $("#targetCount").val(data);
                        setRange();
                    }else
                    {
                        $("#msg").html("目标线路已经达到队伍上限!");
                        $("#targetCount").val("0");
                        $("#exportExcel").hide();
                    }

                }

            });
        }
    })

    function setRange() {
        $("#msg").html("");
        
       var t =  $("#targetCount").val();
       var s = $("#scourceCount").val();
       if (t != "0" && s != "0") {
           var max = 0;
           if (parseInt(t) <= parseInt(s)) {
               max = parseInt(t);
           } else
           {
               max = parseInt(s);
           }
           $("#range_div").html("");
           var tmp = "<input type='range' id='range' min='1' max='" + max + "' step='1' value='1' />"
           $("#range_div").html(tmp);

           $('#range').rangeslider({
               polyfill: false,
               onInit: function () { },
               onSlide: function (position, value) { $("#fpsl").html(value); },
               onSlideEnd: function (position, value) {
                  
               }
           });
           if (max > 0) {
               $("#exportExcel").show();
           }

           $("#div_fp").show();
       }

    }

    function preview() {
        var matchid_ = $("#optMatch").find("option:selected").val();
        var lineid_ = $("#optLine").find("option:selected").val();
        var linesid_ = $("#optLines").find("option:selected").val();
        var linesname_ = $("#optLines").find("option:selected").text();
        var targetLines_ = $("#optTargetLines").val().toString();
        var count_ = $("#fpsl").html();
        if (targetLines_ == "") {
            alert("请选择目标线路！");
            return;
        }

        if (count_ == "") {
            alert("分配数量不能为空！");
            return;
        }

            $("#exportExcel").hide();
            $("#loadimg").show();

            var data = {};
            data.matchid = matchid_;
            data.lineid = lineid_;
            data.linesid = linesid_;
            data.targetLines = targetLines_;
            data.count = count_;

            if (matchid_ != "" && lineid_ != "" && linesid_ != "") {
                $.ajax({
                    type: "POST",
                    url: encodeURI("preview"),
                    data: data,
                    dataType: "json",
                    success: function (data) {
                        if (data = '0') {
                            $("#loadimg").hide();
                            $("#exportExcel").show();
                            $("#msg").show();
                            $("#msg").html("分配成功!");
                        } else {
                            $("#loadimg").hide();
                            $("#exportExcel").show();
                            $("#msg").show();
                            $("#msg").html("分配失败!");
                        }
                    }
                });
            }
    }


</script>
