@using Model;
@using BLL;
@using Web;

@model tbllines

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.Edit.cshtml";
}

@section PageSpecificJavascriptIncludes{

    <script type="text/javascript">
        $(document).ready(function () {
            $("#mainForm").submit(function () {

                return true;
            });
        });
    </script>
}

@section MainContent{
    <div class="portlet-body form-horizontal form-bordered form-row-stripped">
        <div class="row-fluid">
            <div class="control-group">
                <label class="control-label"><span class="required">*</span>赛事名称：</label>
                <div class="controls">
                    <select id="optMatch" name="optMatch"  class="m-wrap large">
                        <option value="">请选择赛事</option>
                        @Html.Raw(ViewBag.Match)
                    </select>
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Match_id)</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"><span class="required">*</span>线路类型：</label>
                <div class="controls">
                    <select id="optLine" name="optLine" class="m-wrap large">
                        @Html.Raw(ViewBag.Line)
                    </select>
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Line_id)</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"><span class="required">*</span>线路号：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Line_no, new { @class = "m-wrap large" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Line_no)</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"><span class="required">*</span>线路名称：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Linename, new { @class = "m-wrap large" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Linename)</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"><span class="required">*</span>简介：</label>
                <div class="controls">
                    @Html.TextAreaFor(m => m.Content, new { @class = "m-wrap large" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Content)</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">队伍人数：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Playercount, new { @class = "m-wrap small" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Playercount)</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">URL：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Url, new { @class = "m-wrap small" })
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">队伍上限：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Pointscount, new { @class = "m-wrap small" })
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">总结：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Summary, new { @class = "m-wrap large" })
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">状态：</label>
                <div class="controls">
                    <select id="optStatus" name="optStatus" data-placeholder="请选择状态" class="m-wrap small">
                        @Html.Raw(ViewBag.Status)
                    </select>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript" src="@Url.Content("~/scripts/js/selector/jquery-1.10.js")"></script>

<script>
    $(document).ready(function () {
        //限制字符个数
        $(".Content").each(function () {
            var maxwidth = 40;
            if ($(this).text().length > maxwidth) {
                $(this).text($(this).text().substring(0, maxwidth));
                $(this).html($(this).html() + '...');
            }
        });

        $("#optMatch").change(function () {
            var matchid = $("#optMatch").find("option:selected").val();
            if (matchid != "") {
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: encodeURI("/Main/Match/GetLineByMatch?matchid=" + matchid),
                    data: {},
                    dataType: "json",
                    success: function (data) {
                        if (data != "") {
                            $("#optLine").empty();
                            $.each(data, function (index, content) {
                                $("#optLine").append("<option value='" + content.Value + "'>" + content.Text + "</option>");
                            });
                            //$("#optLine").trigger("chosen:updated");
                        }
                        else {
                            $("#optLine").empty();
                            // $("#optLine").trigger("chosen:updated");
                        }
                    }

                });
            } else {
                $("#optLine").empty();
            }

        })
    });
</script>