@using Model;
@using BLL;
@using Web;

@model tblpointsView

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageSpecificJavascriptIncludes{
    }
<link href="@Url.Content("~/assets/audioplayer/audioplayer.css")" rel="stylesheet" />
@using (Html.BeginForm("PointsEdit", "Match", FormMethod.Post, new { id = "mainForm", enctype = "multipart/form-data", onsubmit = "return doAddPoint();" }))
{
    
    <div class="portlet-body form-horizontal form-bordered form-row-stripped">
        <div class="row-fluid">
            <input type="hidden" value="@ViewBag.code" id="code_" />
            <input id="id" type="hidden" value="@Model.Pointid" />
            <div id="msg" style="color:red;">@Html.Raw(ViewBag.ErrorMsg)</div>
            <div class="control-group">
                <label class="control-label">二维码：</label>
                <div class="controls">
                    <div id="code" style="text-align:left;border:0px;"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"><span class="required">*</span>标识编号：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Pointno, new { @class = "m-wrap large" })
                    <span id="PointnoError" class="help-inline"></span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"><span class="required">*</span>标识名称：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Pointname, new { @class = "m-wrap large" })
                    <span id="PointnameError" class="help-inline"></span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"><span class="required">*</span>标识地址：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Pointaddress, new { @class = "m-wrap large" })
                    <span id="PointaddressError" class="help-inline"></span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"><span class="required">*</span>任务：</label>
                <div class="controls">
                    <textarea cols="200" id="Pointtask" name="Pointtask" rows="10">@Model.Pointtask</textarea>
                    <span id="TaskError" class="help-inline"></span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">友情提示：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Pointout, new { @class = "m-wrap large" })
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">示意图：</label>
                <div class="controls">
                    <input type="file" id="Sketchmap" name="Sketchmap" class="with-preview" onchange="setFlag('map');">
                    <div id="map_view">
                        @if (Model.Sketchmap != "" && Model.Sketchmap != null)
                        {
                            <a class="thickbox" title='查看大图' href="http://@HttpContext.Current.Request.Url.Host:@Request.Url.Port/UploadFiles/@Model.Sketchmap">
                                <img style="width:80px;height:60px" src="http://@HttpContext.Current.Request.Url.Host:@Request.Url.Port/UploadFiles/@Model.Sketchmap" />
                            </a>
                            <a href="javascript:void(0)" onclick="deletemap('@Model.Pointid');">[删除]</a>  
                        }
  
                    </div>
                    <input type="hidden" value="0" id="SketchmapFlag" name="SketchmapFlag" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">语音：</label>
                <div class="controls">
                    <input type="file" id="SketchVoice" name="SketchVoice" class="with-preview" onchange="setFlag('voice');">
                    <div id="voice_view">
                        @if (Model.SketchVoice != "" && Model.SketchVoice != null)
                        {
                            <audio src="http://@HttpContext.Current.Request.Url.Host:@Request.Url.Port/UploadFiles/@Model.SketchVoice" preload="auto" controls></audio>
                            <a href="javascript:void(0)" onclick="deletevoice('@Model.Pointid');">[删除]</a>   
                        }                   
                    </div>  
                    <input type="hidden" value="0" id="SketchvoiceFlag" name="SketchvoiceFlag" />                   
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">序号：</label>
                <div class="controls">
                    <input type="text" class="m-wrap small" id="Sort" name="Sort" value="@Model.Sort"/>
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Sort)</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">链接编号：</label>
                <div class="controls">
                    <select id="optLinkno" name="optLinkno" data-placeholder="请选择链接编号" class="m-wrap small">
                        <option value="">请选择链接编号</option>
                        @Html.Raw(ViewBag.optLinkno)
                    </select>
                    <span id="TypeError" class="help-inline"></span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">类型：</label>
                <div class="controls">
                    <select id="optPointtype" name="optPointtype" data-placeholder="请选择类型" class="m-wrap small">
                        <option value="">请选择类型</option>
                        @Html.Raw(ViewBag.pointtype)
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">状态：</label>
                <div class="controls">
                    <select id="optStatus" name="optStatus" data-placeholder="请选择状态" class="m-wrap small">
                        <option value="">请选择状态</option>
                        @Html.Raw(ViewBag.Status)
                    </select>
                    <span id="StatusError" class="help-inline"></span>
                </div>
            </div>
            <div class="control">
                <input type="submit" id="btnAddProduct" class="btn blue" value="保存" />
            </div>
        </div>
        
    </div>
}
@*<script type="text/javascript" src="@Url.Content("~/scripts/js/selector/jquery-1.10.js")"></script>*@
<script type="text/javascript" src="@Url.Content("~/Assets/audioplayer/jquery.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Assets/audioplayer/audioplayer.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Assets/ckeditor/ckeditor.js")"></script>
<script>
    var editor = CKEDITOR.replace('Pointtask'
        , { filebrowserImageUploadUrl: '../ckeditorUpload' }
    );
    editor.on('change', function (event) {
        var data = this.getData();
        if (data == "") {
            $("#TaskError").html("<img src='../../../Content/Images/error.png' /><font color='red'>任务不能为空！</font>");
        } else {
            $("#TaskError").html("");
        }

    });

    $(document).ready(function () {
        $("#optPointtype").change(function () {
            var pointtype = $("#optPointtype").find("option:selected").val();
            if (pointtype == "1") {
                $("#Sort").val(pointtype);
            }
        });

        $("#Pointno").bind("input propertychange", function () {
            $("#PointnoError").html("");
        })
        $("#Pointname").bind("input propertychange", function () {
            $("#PointnameError").html("");
        })
        $("#Pointaddress").bind("input propertychange", function () {
            $("#PointaddressError").html("");
        })
        $("#Sort").bind("input propertychange", function () {
            $("#SortError").html("");
        })
        $("#Pointno").bind("input propertychange", function () {
            $("#PointnoError").html("");
        })

        var code = $("#code_").val()
        ShowCode(code);


    });

    function doAddPoint() {
        var ret = true;
        var tmp = $("#Pointno").val();
        if (!tmp) {
            ret = false;
            $("#PointnoError").html("<img src='../../../Content/Images/error.png' /><font color='red'>标识编号不能为空！</font>");
        }
        var tmp = $("#Pointname").val();
        if (!tmp) {
            ret = false;
            $("#PointnameError").html("<img src='../../../Content/Images/error.png' /><font color='red'>标识名称不能为空！</font>");
        }
        var tmp = $("#Pointaddress").val();
        if (!tmp) {
            ret = false;
            $("#PointaddressError").html("<img src='../../../Content/Images/error.png' /><font color='red'>标识地址不能为空！</font>");
        }
        var tmp = $("#Sort").val();
        if (!tmp) {
            ret = false;
            $("#SortError").html("<img src='../../../Content/Images/error.png' /><font color='red'>序号不能为空！</font>");
        }
        var tmp = $("#optPointtype").val();
        if (!tmp) {
            ret = false;
            $("#TypeError").html("<img src='../../../Content/Images/error.png' /><font color='red'>请选择类型！</font>");
        }
        var tmp = $("#optStatus").val();
        if (!tmp) {
            ret = false;
            $("#StatusError").html("<img src='../../../Content/Images/error.png' /><font color='red'>请选择状态！</font>");
        }
        if (editor.getData() == "") {
            ret = false;
            $("#TaskError").html("<img src='../../../Content/Images/error.png' /><font color='red'>任务不能为空！</font>");
        }
        return ret;
    }

    function deletemap(Pointid) {
        if (confirm("确定删除示意图？")) {
            $("#SketchmapFlag").val("1");
            $("#map_view").empty();           
        }
    }

    function deletevoice(Pointid) {
        if (confirm("确定删除语音？")) {
            $("#SketchvoiceFlag").val("1");
            $("#voice_view").empty();
        }
    }

    function setFlag(type) {
        if (type == "map") {
            $("#SketchmapFlag").val("0");
        }else if(type == "voice"){
            $("#SketchvoiceFlag").val("0");
        }
    }

    function ShowCode(code_) {
             $("#code").qrcode({
                 //render: "table", //table方式
                 width: 150, //宽度
                 height: 150, //高度
                 text: code_ //任意内容
             });
    }

</script>